header{
    background-color: rgb(236, 229, 243);
    border-radius: 10px;
    width: 60vw;
    margin: auto;
    
}
.div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}

li{
    list-style: none;
    padding: 10px;
}

a{
    text-decoration: none;
}

a:hover{
    color:rgb(164, 107, 221)
}